html {
    height: 100%;
    font-family : Lato;
    text-align : center;
}


body {
   margin: 0; padding: 0; position: absolute; top: 0; bottom: 16px; left: 0; right: 0;
    
    background: url("assets/img/transparent PNG/full-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display : grid;
    grid-template-columns: minmax(100px, 1fr) 1fr min-content 1fr minmax(100px, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    
}


.boxed {
    border: 2px solid aqua;
    border-radius: 25px;
    padding-bottom: 30px;
    background-color: rgba(214, 228, 249, .8);
    opacity: 50%;
    align-self: center;
   
}


.sprite {
    width: 100px;
    height: auto;
    align-self: center;
    padding-top: 3em;
    }




.title {
    grid-column: 2 / span 3;
  
    
}

.laning {
    grid-column: 3; 
    grid-row: 2; 
    align-self: center;
    
}


.shop {
    grid-column: 5;
    grid-row: 3;
        
}


.statistics {
    grid-column: 1;
    grid-row: 1;
}

.player {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    
    font-size: 18px;
    color:#5d0c19;
}

#gameTitle {
    text-align : center;
    font-family : Tangerine;
    font-size : 80px;
    color: #202c2d;
    
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;

}

.center {
    text-align : center;
    
        
   
}

.healthBar {
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 3px;
  background: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
    margin-left : auto;
    margin-right : auto;

}

.bar {
  background: #F00;
  
  height: 10px;
  position: relative;
  
  transition: width .25s linear;
}

.hit {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}